<section class="testimonial sections" id="testimonial">
	<h2 class="header-titles">Les avis</h2>

	<p class="header-description text-center">
		Garage V. Parrot est un lieu de confiance pour tous ses clients. Vous pouvez compter sur nous comme plusieurs des nous fidèles clients.
	</p>

	<div>
		<h4 class="alert-heading text-center">
			<div class="row align-items-center">
				<div class="col-md-6">
					Note globale donnée par nos clients
				</div>
				<div class="col-md-6">
					{% include "shared/_rating.html.twig" with {'rating': averageRating } %}
					<br>
					<small>(Calculée sur {{ comments|length }} avis)</small>
				</div>
			</div>
		</h4>
	</div>

	{% if comments|length > 0 %}
		<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for comment in comments %}
					<div class="carousel-item {% if loop.first %}active{% endif %}">
						<div class="stars text-center mb-3">
							{% include "shared/_rating.html.twig" with {'rating': comment.rating } %}
						</div>
						<blockquote class="fst-italic">{{ comment.content }}</blockquote>
						<div class="row">
							<div class="text-start">
								<strong>{{ comment.fullname}}</strong>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			Aucun avis pour le moment.
		</div>
	{% endif %}


	<div class="add-review">
		<a href="{{ path('home_notice') }}" class="btn-fill text-center text-decoration-none fs-3">Donnez votre avis</a>
	</div>

</section>
